html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

html {
    overflow-y: auto;
}

section {
    color: black;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.anexos, .link-inscricao {
    width: 90vw;
    max-width: 900px;
    margin: 12vh 0 6vh 0;
}
.anexos ul {
    padding: 0;
}
.anexos li {
    list-style-type: none;
    margin-top: 1em;
}
.anexos li span {
    text-align: left;
}
.anexos button {
    height: 40px;
}

.documentos-selecao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: none;
    padding: 1.8em 1em;
    font-size: 1.2rem;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: rgb(167, 167, 167);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.documentos-selecao:hover {
    background-color: #8967AA;
    transition: 0.2s;
    color: white
}
.icone-botao {
    font-size: 40px !important;
}

.step-bar {
    margin: 0 6vw;
}

.titulo-texto {
    padding-top: 5vh
}
.anexos ul a {
    text-decoration: none;
}
.decoracao-titulo {
    top: 10px;
    width: 65px;
    height: 10px;
    background-color: #8967AA;
}
h1{
    font: normal normal bold 80px/1.4em raleway,sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: grey;
}
.faq {
    height: fit-content;
    width: 90vw;
    max-width: 900px;
    margin-bottom: 20vh;
    box-sizing: border-box;
    margin-top: 6vh;
}

#lista-faq {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.card-faq {
    width: 100%;
    min-width: 350px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: fit-content;
    box-sizing: border-box;
}

.titulo-card-faq {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-faq:hover{
    cursor: pointer;
}

.conteudo-card-faq {
    visibility: hidden;
    height: 0;
    /* transition: 0.2s; */
}

.conteudo-card-faq ul li {
    display: flex;
    list-style: none;
}

.conteudo-card-faq ul li::before {
    content: "\2022";
    color: grey;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 1.3em;
    align-self: center;
  }

.conteudo-card-faq ul li p {
    margin: 1rem;
}
.card-faq .active {
    visibility: visible;
    height: fit-content;
    padding: 1rem;
    padding-top: 0.5rem;
}

.card-faq h3,p{
    font: normal normal 1.2rem/1.4em raleway,sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: rgb(167, 167, 167);
    margin: 0;
}

.card-faq p {
    font-size: 1rem;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: rgb(167, 167, 167);
    font-weight:200;
}

.link-inscricao{
    font: normal normal 1.2rem/1.4em raleway,sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: rgb(167, 167, 167);
    margin: 0;
    font-weight: 100 !important;
    border-bottom: solid;
    border-width: thin;
    padding-bottom: 10px;
}

.link-inscricao a {
    text-decoration: none;
    cursor: pointer;
    color: #8967AA;
}

.icone-expand-more {
    color: #8967AA;
}
.ciclo-chamadas {
    margin: 10vh 0 5vh 0;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.ciclo-chamadas img {
    width: 70%;
    min-height: 100px;
}

@media (max-width: 690px) {

    .ciclo-chamadas img {
        width: 100%;
        min-height: 100px;
    }

    h1{
        font-size: 2.5em;
    }
    p {
        font-size: 0.85em;
    }

    #lista-editais {
        padding: 0;
    }
    .decoracao-titulo {
        top: 10px;
        width: 1.5rem;
        height: 0.4rem;
        background-color: #8967AA;
    }
    section {
        margin-bottom: 50vh
    }
}