html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    color: black;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    padding: 0;
    width: 900px;
}
li {
    list-style-type: none;
    margin-top: 1em;
}
li button {
    height: 40px;
}

.documentos-selecao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: none;
    padding: 1.8em 1em;
    font-size: 1.2rem;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: rgb(167, 167, 167);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.documentos-selecao:hover {
    background-color: #8967AA;
    transition: 0.2s;
    color: white
}
.icone-botao {
    font-size: 40px !important;
}

.step-bar {
    margin: 0 6vw;
}

.titulo-texto {
    padding-top: 5vh
}

.decoracao-titulo {
    top: 10px;
    width: 65px;
    height: 10px;
    background-color: #8967AA;
}
h1{
    font: normal normal bold 80px/1.4em raleway,sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: grey;
}
.faq {
    width: 900px;
    margin-bottom: 600px;
    margin-top: 130px;
}