html, 
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: arial,helvetica;
    color: #fff;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

body section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: #9E72B0;
}

section video {
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
}


section video {
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
}

#logos {
    width: 100%;
    position: fixed;
    top: calc(10%)
}

#logo-smdeis{
    top: 30vh;
    width: 40vw;
    left: 30vw;
    position: absolute;
    -webkit-animation-delay: -8s;
}
#logo-sandbox{
    top: 30vh;
    width: 40vw;
    position: absolute;
    left: 30vw;
    -webkit-animation-delay: -12s;
}

html, body {
    border: 0;
    margin: 0;
}

#logos img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
