html, 
body {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    font-family: arial,helvetica;
    position: relative;
    min-height: 100vh;
}

html {
    scroll-behavior:smooth
}

.d-none {
    display: none !important;
}

#bg-sobre {
    background-color: #9E72B0;
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}

.bloco-texto {
    background-color: white;
    position: relative;

}
.titulo-texto {
    padding: 4vh 22vw 0vh 8vw;
}

h1{
    top: 30vh;
    left: 40vw;
    font: normal normal bold 80px/1.4em raleway,sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: grey;
}
p {
    line-height: 1.6em;
    font-size: 20px;
    color: grey;
    letter-spacing: 0.05em;
    text-align: justify;
    text-justify: inter-word;
}
#o-que-eh-foto{
    background-image: url("drone.jpeg");
}
#publicacoes-foto {
    background-image: url("onibus.jpeg");
}
#venha-participar-do-sandbox{
    background-image: url("onibus.jpeg");
}
#participar-foto {
    background-image: url("vlt.jpeg");
}

#funciona-image{
    max-width: 100%;
    max-height: 100%;
}


.decoracao-titulo {
    top: 10px;
    width: 65px;
    height: 10px;
    background-color: #8967AA;
}
#equipe-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;
    margin-top: 4vh;
}

.card-membro {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 270px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2vh 5vw 3vh 5vw;
    min-height: 300px;
}

.contato-membro img {
    height: 36px;
    width: 36px;
}

.foto-membro {
    border-radius: 50%;
    max-width: 200px;
    align-self: center;
    justify-self: flex-start;
}

.nome-membro, .descricao-membro {
    font-size: 1.1em;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    margin: 10px;
}

.descricao-membro {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    text-align:center;
    color: grey;
}

.video-sandbox {
    width: 70vw;
    margin-left: calc((100vw - 70vw)/2);
    align-self: center;
}

.lista-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    list-style: circle;
}

.navegacao-externa {
    position: absolute;
    top: -70px;
}
.icone-botao {
    font-size: 40px !important;
}

#noticia-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: left;
    margin: 10vh 6vw;
    height: fit-content;
}

.noticia-card {
    width: 350px;
    height: 370px;
    background: white;
    border-radius: 8px;
    border: #8967AA;
    border-width: 3px;
    border-color: #8967AA;
    margin-bottom: 5vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.noticia-titulo {
    color: grey;
    font-weight: 50;
    padding: 0 !important;
}

.noticia-card-imagem {
    height: 50%;
    background: wheat;
    display: flex;
    gap: 1em;
    /* border: 2px solid #8967AA;
    box-sizing: border-box; */
    min-height: 55%;
    overflow: hidden;
}
.noticia-card-imagem img {
    width: 102%;
    height: 102%;
    transform: scale(1.0);
    object-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.noticia-card-conteudo {
    height: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
}

.noticia-card-conteudo h3, p {
    margin: 0;
    padding-top: 8px;
}

.noticia-card-conteudo span {
    font-size: 0.9em;
    color: grey;
}

.noticia-card-conteudo a {
    font-size: 1.2em;
}

.noticia-dia {
    margin-top: 8px;
    margin-top: -2px;
    font-size: 0.65em !important;
}

.noticia-ler-mais {
    position: absolute;
    bottom: 10px;
    border: 5px;
    text-decoration: none;
    color: inherit !important;
    letter-spacing: normal;
    display: inline-block;
}

.noticia-ler-mais p {
    font-size: 1em;
    padding: 0;
}

.noticia-card a:visited {
    color: inherit;
}

.noticia-descricao {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    margin: 0;
}
@media (min-width: 690px) {
    .parallax {
        opacity: 0.5;
        width: 100%;
        /* Set a specific height */
        min-height: 500px; 
        
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width: 700px) {

    .imagem-wrapper:hover .imagem-card-publicacao{
        transform: scale(1.1);
        transition: 0.2s
    }

    .imagem-wrapper:hover .card-publicacao-overlay{
        background-color: #8967AA;
        opacity: 0.6;
        transition: 0.9s;
        cursor: pointer;
    }
    .imagem-wrapper:hover .btn-card-publicacao{
        visibility: visible;
        transition: 0.3s;
        cursor: pointer;
    }
}
@media (max-width: 1400px) {
    .card-membro {
        margin: 2vh 2vw 3vh 2vw;
    }
}
@media (max-width: 690px) {
    #noticia-container {
        margin: 5vh 6vw;
    }
    #lista-publicacoes {
        margin: 5vh 6vw;
    }
    h1{
        font-size: 2.5em;
    }
    p {
        font-size: 0.85em;
    }
    .parallax {
        opacity: 0.5;
        width: 100%;
        /* Set a specific height */
        min-height: 500px; 
        object-fit: cover;
        background-position: center;
        /* Create the parallax scrolling effect */
    }

    #lista-editais {
        padding: 0;
    }
    .decoracao-titulo {
        top: 10px;
        width: 1.5rem;
        height: 0.4rem;
        background-color: #8967AA;
    }
}