html, 
body {
    overflow-y: auto;
    margin:0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    height: calc(100vh + 90px);
}

body {
    padding: 0;
    margin: 0;
    font-family: arial,helvetica;
    color: #fff;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

body section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #9E72B0;
    position: relative;
    margin-top: 70px;
}

section video {
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
}


section video {
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
}


#logo-smdeis{
    -webkit-animation-delay: -8s;
}
#logo-sandbox{
    -webkit-animation-delay: -12s;
}

.logo-video {
    top: 35vh;
    width: 40vw;
    left: 30vw;
    position: absolute;
}

html, body {
    border: 0;
    margin: 0;
}

#logos img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


@media (max-width: 970px) {
    section {
        min-height: calc(100vh - 70px);
    }
    .logo-video {
        width: 80vw;
        left: 10vw;
    }
    body {
        height: calc(100vh + 110px);
    }
}